language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "3.6"

addons:
  postgresql: "9.6"
  apt:
# only add the two lines below if you need wkhtmltopdf for your tests
#    sources:
#      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      # for aeroo
      - cups
      - libcups2-dev
      # FE
      - python-dev
      - swig
      - libffi-dev
      - libssl-dev
      - python-m2crypto
      - python-httplib2
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#      - wkhtmltopdf  # only add if needed and check the before_install section below

# set up an X server to run wkhtmltopdf.
#before_install:
#  - "export DISPLAY=:913.0"
#  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="13.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='jjscarafia'
  # to get secure, run 'travis encrypt TRANSIFEX_PASSWORD=[transifex_password] -r [github_repo]'
  # example of github repo 'ingadhoc/odoo-infrastructure'
  - secure: OKOqvmhKiZcAqDzIH9py4OHAXUW/PRBc45qaYQ7hflqYBnAsM32t41OUuXBtakg1P9igmyieGlaot0hLCOiMH7l/4GOIkArA+thyFzSkSVzTeT+AmzPlODUOWfLwH8XWWdKHJl/N/bImCUQrWPIOWD217l9AeGAaocrRWTIyMceuBIuqQPCkCvbqi5eQhcCinA3UkcllBJ4uH+5UHNp3BMjL9Le6e3BaLJOnvvqE4GQhe6lmU/5eZaU3mSe1nV8hBrw0o8YTQcl/px3+UzHkbjeyZ4Rre6hAGE2eAkrqSfimKVnPbgaR7QzjBl/w+96RwysLFWG9k8lxjpODXt8ly2iisDx0tJfqkCZY+P8AxrfJIifPJ4MrWYWBdgOkmuaIRJz/LEzdXNBHB542vwd4ssIT7v0p/PT6C/Y1ujndyP3ZwciiOdA5oFdw0rcsnEUZXtT29yP7P/dYZatEv7RfH0C4tZAq3wWCxG/3lptr/upBBlPWfWqgdmORlxZ8KpgAYl7rRPEUUWiN5fGzGJf+5gBFZD9gz9a1z0qCzLXj0r+lf6WfodDqIe1IpZen+D7Pwt/8XYrGiULD9AKfjdgqjj7UjM7rMO8sWPQKLiLDt5reQyqH4HIjvaxm3LOu9MiH0GRSv0N6GbH9L2jMbPVFiYfMQmIgVUl2pLU7TcOKP4U=
  - TRANSIFEX_ORGANIZATION='adhoc'
  - TRANSIFEX_TEAM='46451'

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" 
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
#  - TESTS="1.0" ODOO_REPO="OCA/OCB" UNIT_TEST="1"
#  - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"


# Enable this if your repository needs sass command (needed for website related repos)
before_install:
  # on runbot do not install, they give an error
  - if [[ "${OCA_RUNBOT}" != "1" ]]; then rvm install ruby --latest; fi
  - if [[ "${OCA_RUNBOT}" != "1" ]]; then gem install bootstrap-sass; fi
  - if [[ "${OCA_RUNBOT}" != "1" ]]; then gem install compass --pre; fi

install:
  - git clone --depth=1 https://github.com/ingadhoc/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
