language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

addons:
  apt:
# only add the two lines below if you need wkhtmltopdf for your tests
#    sources:
#      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      # for aeroo
      - cups
      - libcups2-dev
      # FE
      - python-dev
      - swig
      - libffi-dev
      - libssl-dev
      - python-m2crypto
      - python-httplib2
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#      - wkhtmltopdf  # only add if needed and check the before_install section below

# set up an X server to run wkhtmltopdf.
#before_install:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="9.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='jjscarafia'
  # to get secure, run 'travis encrypt TRANSIFEX_PASSWORD=[transifex_password] -r [github_repo]'
  # example of github repo 'ingadhoc/odoo-infrastructure'
  - secure: paV32Mnt1ZLsr2YZNUYFt6TbOfJtV+fqElATUAL2kG6TccFh0cjDzvLTt4xCJ3iok8ElLydKX0gGdtD6NuhZaoXV1heXlnSBNA0NkBjD4DD64aQQafFGO/Lqh1BC60eWAWrKxoHiLRxH3YBLpjNWYMfgjHhbJELzFaGg5bExWtBZSZ7W3x58ol6lEnO2qr2lqMbkEKQ5S6zl297BP4oadRo2VFxiDxi86p7XNCHC1EPOP/0GQZgM80BzP1Dz87R8NnQ8K28rbf2HeLzyxauRNBFvitBndR1fsAZww3KJtfdqkhKVfI6eghAOHJPt6VEz8VkxKesTmyyBhvQFko4UzWn+OFEAFdcU9qVA6nZK60sN53ENUz20YHP+36MgGIBGwRNduKF8V13Xc9bHLkCSL6AmHNNRn4lx+zDcPkjj7Bkw+rMB/aPUnQHkM/NkFhvbLluCQ7aLuyrLLrF72RNVNTmNiPt+UWu/4mshi9U3nsULXZWK9XX7rR8/iEZuBilLBftTT3tmi+3/w8Qo9mOBmZhGAK5UAT8eGPu6xh1KC7wh2F681LwFN1Y4FvY/fH3uM7qGCENumZGBSkCplMaxjgGhi6fg9QsdKXsQ9cvFNTWRRdcl1p3wX0fXp9CISZE8O9zqD2pk/o9p0kXL8PTGKcJwgQA/WDYRGsVkSGzxFPA=
  - TRANSIFEX_ORGANIZATION='adhoc'
  - TRANSIFEX_TEAM='46451'

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" 
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
#  - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"
#  - TESTS="1.0" ODOO_REPO="OCA/OCB" UNIT_TEST="1"

virtualenv:
  system_site_packages: true

# Enable this if your repository needs sass command (needed for website related repos)
before_install:
  - rvm install ruby --latest
  - gem install bootstrap-sass
  - gem install compass --pre

install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
